* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1{
    text-align: center;
    padding-top: 2em;
    font-weight: 800;
    font-size: xx-large;
}
body  {
    background: linear-gradient(#b76732, #c03118);
    height: 100vh;
    
}

.container {
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

table {
    color: #fff;
    font-size: 14px;
    table-layout: fixed; /* todas las celdas se adapta al mismo tamaño*/
    border-collapse: collapse; /* un solo borde el separate son 2 */
}

thead {
    background: rgba(245, 16, 16, 0.4);
    
}

th {
    padding: 20px 15px ;
    font-weight: 700;
    text-transform: uppercase; /*texto en mayuscula*/
    border-bottom: solid 2px rgba(0, 0, 0, 0.925); /* poner las lineas solo verticales*/
}

td {
    padding: 15px;
    border: solid 1px rgba(0, 0, 0, 0.219)
}


tbody tr td {
    cursor: pointer;
    
}

tbody tr:hover {
    background: rgba(224, 199, 57, 0.4);
}

.recreo{
    text-align: center;
    font-size:larger;
    font-weight: bold;
}

.casa {
    font-size: x-large;
    
    padding-top: 1em;
    text-align: center;
    
}